.acSelect {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	display: none;
	position: absolute;
	width: 10em;
	margin: 0;
	padding: .2em .5em;
	border: none;
}
img {
	border: none;
}
#acHiddenVars {
	display: none;
}
/*********************** ACGrid ***************************/
table.acGrid {
	border: 1px solid #000000;
	border-collapse: collapse;
}
table.acGrid th {
	padding: .2em .5em;
	border: 1px solid #000000;
	background: #EEEEEE;
}
table.acGrid td {
	margin: 0;
	padding: 0;
	border: 1px solid #000000;	
}
table.acGrid td div {
	padding: .2em .5em;
}
table.acGrid td div.image {
	text-align: center;
	margin: 0;
	padding: 0;
}
#process {
	position: absolute;
	display: block;
	background: url('img/arrowred.gif') top left no-repeat;
}

/*********************** ACPic ****************************/
#target {
	float: left;
	width: 35%;
	height: 20em;
	border: 1px dashed #DDDDDD;
}
#acPic {
	clear: both;
	padding: 1em;
	border: 1px dashed #DDDDDD;
}
#acPicControls {
	padding: .2em;
	border: 1px solid #999999;
	border-bottom: none;
}
#acPicControls a.acPicControl {
	display: none;
	padding-right: .2em;
}
#acPicList {
	height: 180px;
	margin: 0;
	overflow: scroll;
	overflow-x: hidden;
	padding: .5em;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}
div.acPicThumbnail {
	float: left;
	text-align: center;
	width: 90px;
	height: 75px;
	margin: 1em;
	padding: 0;
	font-size: 50%;
	border: 1px dashed #DDDDDD;
}
div.acPicThumbnail img {
	border: 1px dashed #DDDDDD;
}
#acPicTrash {
	clear: both;
	padding: .2em;
	text-align: right;
	border-top: none;
}
div.acBtn {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: .5em;
}
#acStartUpload, #acCancelAll {
	display: none;
}
.acTrashImg {
	background: url('img/Delete_d.png') 50% 50% no-repeat;
}
.acTrashImgActive {
	background: url('img/Delete.png') 50% 50% no-repeat;
}
/*********************** uploadify ************************/
.uploadifyQueueItem {
	font: 9px Verdana, Geneva, sans-serif;
	border: 2px solid #E5E5E5;
	background-color: #F5F5F5;
	margin-bottom: 5px;
	padding: 8px;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 3px;
}